In [3]:
import pandas as pd

df = pd.read_csv("data/cleaned_data.csv")
df.tail()

,id,type_de_station,temperature_en_degre_c,pluie,humidite,pression,heure_de_paris,nom_station
1295,2,ISS,11.7,0.0,82,99200,2025-11-23T20:30:00+00:00,marengo
1296,2,ISS,11.5,0.0,83,99200,2025-11-23T20:15:00+00:00,marengo
1297,2,ISS,11.6,0.0,84,99200,2025-11-23T20:00:00+00:00,marengo
1298,2,ISS,11.6,0.0,84,99200,2025-11-23T19:45:00+00:00,marengo
1299,2,ISS,11.6,0.0,84,99200,2025-11-23T19:30:00+00:00,marengo

In [ ]:
df.drop_duplicates(inplace=True)